[Unit]
Description=Home Assistant
After=network.target
After=docker.service

[Service]
Type=simple
User=@HOMEASSISTANT_USER@
ExecStart=cd "@HOMEASSISTANT_DIR@" && /usr/bin/docker-compose up -d
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
