/sources/
.repo
repoTool
manifest
raspberrypi*
dl
sstate
ccache
bb.environment
setup-environment
disk.img
*.bak
output*
.bash_history
.ansible
.config
.dart
.cache
.wget-hsts
.repoconfig
.gitconfig
.flutter
.vpython-root/**/*
.vscode-server
.repo_.gitconfig.json
.devcontainer
.ssh
.kas_shell_history
build/
qemu/
.vscode/settings.json
assistant-conf/*
build_*/
persistent/
toaster.sqlite
build-toaster*/
board*.conf
homeassistant-backup/
